

.list-group-item {
    position: relative;
    display: inline-flex;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

body {
    background: #09a6d69c; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #09a6d69c, #09a6d69c);
    background: -moz-linear-gradient(right, #09a6d69c, #09a6d69c);
    background: -o-linear-gradient(right, #09a6d69c, #09a6d69c);
    background: linear-gradient(to left, #09a6d69c, #09a6d69c);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  .school {
    height: 3rem;
    width: 4em;
  }

  .college {
    padding-left: 10px;
  }

  img{
    height: 3rem;
    width: 3em;
  }
