

.list-group-item {
    position: relative;
    display: inline-flex;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

  .school {
    height: 3rem;
    width: 4em;
  }

  .college {
    padding-left: 10px;
  }

  img{
    height: 3rem;
    width: 3em;
  }

  .text-edu{
      color:  rgba(42,113,177,1);
  font-weight: bold;
  }
