@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
 
}

body {
   /* fallback for old browsers */
   background: rgb(32,122,210);
   background: linear-gradient(90deg, rgba(32,122,210,1) 0%, rgba(107,162,211,1) 28%, rgba(49,150,224,1) 75%, rgba(42,113,177,1) 99%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  background-color: #ffffff;
}

.list-group-item {
  position: relative;
  display: inline-flex;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  font-weight: bold;
}

.list-group{
  padding-top: 20px;
}

