.work{
  height:3rem ;
  width: 7rem;
}

#bridge{
  font-weight: bold;
  padding-left: 5em;
}

.textgrad{
  
  color:  rgba(42,113,177,1);
  font-weight: bold;
}

img{
    height: 3rem;
    width: 3em;
  }

  text{
      padding-top: 10px;
      padding-left: 10px;
}

.skills{
    padding-top: 20px;
}

#exp-content{
  padding-top: 1em;
  text-align: left;

}

#duration{
  font-size: 0.8em;
}

.responsibilities{
  text-align: left;
}